<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<!--Web browserName = chrome,firefox,iexplorer,safari -->
<!--Msite browserName = apple,iphonesize,androidsize -->
<!--M deviceName = Apple iphone 6,Nexus 5 -->

<suite name="DataDriven" parallel="tests" thread-count="2" verbose="10">
	<listeners>
		<listener class-name="com.magic.listners.CustomListner"></listener>
		<listener class-name="com.magic.listners.AnnotationTransformer"></listener>
		<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter"></listener>
	</listeners>

	<parameter name="deviceName" value="Apple iphone 6"></parameter>
	<parameter name="Grid" value="OFF"></parameter>
	<parameter name="GURL" value="http://192.168.99.100:12345/wd/hub"></parameter>
	
	<test name="Basics">
		<parameter name="browserName" value="chrome"></parameter>
		<parameter name="WebDriverRequired" value="YES"></parameter>
		<parameter name="URL" value="https://www.google.com"></parameter>
		<groups>
			<run>
				<include name="ends"></include>
			</run>
		</groups>
		<classes>
			<class name="com.magic.testcases.TestClssSecond"></class>
		</classes>
	</test>
	<!-- <test name="Cucumber">
		<parameter name="URL" value="https://www.google.com"></parameter>
		<parameter name="browserName" value="chrome"></parameter>
		<parameter name="WebDriverRequired" value="YES"></parameter>
		<classes>
			<class name="RunningSteps.TestRunners"></class>
			<class name="RunningSteps.TestRunner"></class>
			<class name="com.magic.testcases.TestClssSecond"></class>
		</classes>
	</test>	 -->
	<!-- <test name="RestAssured">
	<parameter name="WebDriverRequired" value="NO"></parameter>
	<parameter name="RestProxy" value="NO"></parameter>
	<parameter name="URL" value="https://deployment.magicbricks.com"></parameter>
	<classes>
	<class name="com.magic.RestAssured.GetRequest"></class>
	</classes>
	</test> -->
	<!-- <test name="RestAssuredPost">
	<parameter name="WebDriverRequired" value="NO"></parameter>
	<parameter name="URL" value="https://staging.magicbricks.com"></parameter>
	<classes>
	<class name="com.magic.RestAssured.PostReq"></class>
	</classes>
	</test> -->
	<test name="Appium">
	<parameter name="AppiumDriverRequired" value="YES"></parameter>
	<parameter name="WebDriverRequired" value="NO"></parameter>
	<parameter name="RestProxy" value="NO"></parameter>
	<parameter name="browserName" value="app"></parameter>
	<parameter name="deviceName" value="pixel_xl"></parameter>
	<parameter name="mobileAdbName" value="emulator-5554"></parameter>
	<parameter name="systemPort" value="8200"/>
	<parameter name="URL" value="https://deployment.magicbricks.com"></parameter>
	<classes>
	<class name="com.magic.testcases.AppiumFirstTest"></class>
	</classes>
	</test>
	
	
	<!-- <test name="Appiums">
	<parameter name="AppiumDriverRequired" value="YES"></parameter>
	<parameter name="RestProxy" value="NO"></parameter>
	<parameter name="browserName" value="app"></parameter>
	<parameter name="deviceName" value="olddevice1"></parameter>
	<parameter name="mobileAdbName" value="emulator-5556"></parameter>
	<parameter name="systemPort" value="8201"/>
	<parameter name="URL" value="https://deployment.magicbricks.com"></parameter>
	<classes>
	<class name="com.magic.testcases.AppiumFirstTest"></class>
	</classes>
	</test> -->
	
</suite>