<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<!--Web browserName = chrome,firefox,iexplorer,safari -->
<!--Msite browserName = apple,iphonesize,androidsize -->
<!--M deviceName = Apple iphone 6,Nexus 5 -->

<suite name="DataDriven" parallel="methods" thread-count="10" verbose="10">
	<listeners>
		<listener class-name="com.magic.listners.CustomListner"></listener>
		<listener class-name="com.magic.listners.AnnotationTransformer"></listener>
		<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter"></listener>
	</listeners>

	<parameter name="deviceName" value="Apple iphone 6"></parameter>
	<parameter name="Grid" value="OFF"></parameter>
	<parameter name="GURL" value="http://192.168.99.100:12345/wd/hub"></parameter>
	
	<!-- <test name="Basics">
		<parameter name="URL" value="https://www.google.com"></parameter>
		<parameter name="browserName" value="chrome"></parameter>
		<groups>
			<run>
				<include name="ends"></include>
			</run>
		</groups>
		<classes>
			<class name="RunningSteps.TestRunner"></class>
			<class name="com.magic.testcases.TestClssSecond"></class>
			<class name="RunningSteps.TestRunners"></class>
		</classes>
	</test> -->
	<test name="Basics2">
		<parameter name="URL" value="https://www.google.com"></parameter>
		<parameter name="browserName" value="firefox"></parameter>
		<classes>
			<class name="RunningSteps.TestRunners"></class>
			<class name="com.magic.testcases.TestClssSecond"></class>
		</classes>
	</test>	
</suite>