<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<!--Web browserName = chrome,firefox,iexplorer,safari -->
<!--Msite browserName = apple,iphonesize,androidsize -->
<!--M deviceName = Apple iphone 6,Nexus 5 -->

<suite name="DataDriven" parallel="methods" thread-count="5"
	verbose="1">
	<listeners>
		<listener class-name="com.magic.listners.CustomListner"></listener>
		<listener class-name="com.magic.listners.AnnotationTransformer"></listener>
		<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter"></listener>
	</listeners>

	<parameter name="deviceName" value="Apple iphone 6"></parameter>
	<parameter name="Grid" value="OFF"></parameter>
	<test name="Basic">
		<parameter name="URL" value=""></parameter>
		<parameter name="browserName" value="chrome"></parameter>
		<groups>
			<run>
				<include name="end"></include>
			</run>
		</groups>
		<!-- <packages> <package name="com.magic.testcases"></package> </packages> -->
		<classes>
			<class name="com.magic.testcases.TestClssSecond"></class>
			<!-- <class name="com.magic.testcases.TestClassFirst"></class> -->
		</classes>
	</test>
</suite>